@import '../../variables';

.products {
  &__item {
    display: flex;
    flex-direction: column;
    width: 320px;

    &:hover {
      .products__link {
        color: $color-default-hover;
        border-color: $color-default-hover;
      }

      .card {
        border-color: $color-default-hover;

        &:before {
          border-top-color: $color-default-hover;
        }
      }

      .card__weight-wrapper {
        background-color: $color-default-hover;
      }
    }

    @media only screen and (max-width: 1024px) {
      margin: 0 15px;
    }

    @media only screen and (max-width: 768px) {
      align-items: center;
      margin: 0;
    }
  }

  &__info {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
    min-height: 5vh;

    &--point {
      color: #FFFF66;
    }
  }

  &__link {
    color: $color-default;
    background: none;
    border: none;
    border-bottom: 1px dashed $color-default;
  }
}

/* CARD STYLES */

.products__card {
  position: relative;
  width: 320px;
  height: 480px;
  border-radius: 12px;
  background: linear-gradient(135deg, transparent 35px, $color-default 0);
  cursor: pointer;

  @media only screen and (max-width: 768px) {
    width: 300px;
    height: 450px;
  }
}

.card {
  position: absolute;
  top: 4px;
  left: 4px;
  flex-direction: column;
  display: flex;
  width: 312px;
  height: 472px;
  padding: 20px 30px 0 40px;
  border-radius: 12px;
  background: linear-gradient(135deg, transparent 33px, $bg-color-light 0);
  color: $text-color-dark;
  overflow: hidden;
  transition: all .5s ease;

  &__intro {
    font-size: 16px;
    line-height: 19px;
    color: $text-color-grey;
    min-width: 205px;

    &--selected {
      color: $color-selected-hover;
    }
  }

  &__title {
    font-size: 48px;
    line-height: 55px;
  }

  &__taste {
    font-size: 24px;
    line-height: 27px;
    font-weight: 700;
  }

  &__numbers {
    color: $text-color-grey;
  }

  &__image {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &__weight-wrapper {
    position: absolute;
    right: 16px;
    bottom: 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 80px;
    height: 80px;
    border-radius: 50%;

    background-color: $color-default;
    color: $text-color-light;

    transition: all .5s ease;
  }

  &__weight {
    font-size: 44px;
    line-height: 44px;
  }

  &__weight-unit {
    font-size: 21px;
  }

  @media only screen and (max-width: 768px) {
    width: 292px;
    height: 442px;
  }
}

/* SELECTED STYLES */

.selected {

  .products__card  {
    background: linear-gradient(135deg, transparent 35px, $color-selected 0);
  }

  .card__weight-wrapper {
    transition: all .5s ease;
    background-color:$color-selected;
  }

  &:hover {
    .products__card  {
      background: linear-gradient(135deg, transparent 35px, $color-selected-hover 0);
    }

    .card__weight-wrapper {
      background-color: $color-selected-hover;
    }
  }
}

/* DISABLES STYLES */

.disabled {
  pointer-events: none;

  .products__card {
    background: linear-gradient(135deg, transparent 35px, $color-disabled 0);

    .card__image {
      opacity: .4;
    }

    .card__intro,
    .card__numbers,
    .card__taste,
    .card__title {
      color: $color-disabled;
      opacity: .5;
    }

    .card__weight-wrapper {
      background-color: $color-disabled;
    }
  }
}
